name: Lint

on:
  push:
  pull_request:

jobs:
  tflint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v4
      - name: Run TFLint
        run: make test_tflint
